#signup_button {
  cursor: pointer;}
#signup_form {
  cursor: pointer;}
.signup_input_container {}
.signup_buttons{
    cursor: pointer;}
#cancel_button {
    cursor: pointer;}
.signup_button{
    cursor: pointer;
}
#signup_form {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #b8b8b8;
    padding: 30px;
  }
  #signin_declaration {
    text-align: center;
  }

  #signin_declaration h3{
    text-align: center;
    font-size: 28px;
  }
  #signup_form input {
    height: 25px;
    background-color: #ffffff;
    border: none;
    color: black;
    font-size: 24px;
    width: 90%;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    margin: 15px;
  }

  #signup-form input:focus {
    outline: none;
  }

  #signup_errors{}

  #signup-form input::placeholder {
    font-size: 24px;
    color: #000000;
  }

  #input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 225px;
    margin: 0px 20px;
  }
  #alignment_buttons div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  #signup_form_buttons {
    background-color: #ffffff;
    cursor: pointer;
    width: fit-content;
    margin: auto;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 18px 0px 18px;
    border-radius: 3px;
    /* margin: 0px 5px 0px 5px; */
  }
  #signup_form_buttons:hover {
    cursor: pointer;
  }
  #signup_form_cancel {
    cursor: pointer;}
  #signup_form_submit {
    cursor: pointer;}

  #signup-button {
    background-color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 18px 0px 18px;
    border-radius: 3px;
    margin: 0px 5px 0px 5px;
  }

  #signup-button:hover {
    cursor: pointer;
  }

  .signup-signup-button {
    height: 36px;
    display: flex;
    align-items: center;
  }

  .signup-signup-button p {
    margin: 0;
  }

  #signup-form {
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: #9e9e9e;
  }

  #signup-form input {
    height: 75px;
    background-color: #967dff;
    border: none;
    color: white;
    font-size: 24px;
    width: 100%;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }

  #signup-form input:focus {
    outline: none;
  }

  #signup-form input::placeholder {
    font-size: 24px;
    color: #dad2ff;
  }

  #input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 225px;
    margin: 0px 20px;
  }

  #modal-content:has(#signup-form) {
    border-radius: 5px;
    object-fit: cover;
  }

  #signup-errors {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    width: 100%;
    color: white;
  }

  #auth-site-name {
    color: white;
    font-weight: 1000;
    font-size: 50px;
    text-align: center;
    text-justify: center;
    width: 100%;
  }
