.header_main_container {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  background-color: #F4F1EA;
}

.header_inner_container {
  display: flex;
  /* justify-content:; */
  height: 75px;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  /* max-width: 1024px; */
  width: 100%;
}

.about-link:hover {
  text-decoration: underline;
}

#header_home_logo_link {
  width: fit-content;
  /* display: flex;
  align-items: center; */
}

#header_home_logo_link img {
  height: 55px;
}
