
#demo-user-button {
  cursor: pointer;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 600;
}

#demo-user-button p {
  padding-right: 2px;
  padding-left: 2px;
}

#demo-user-button:hover {
  cursor: pointer;
}
