#edit_bookshelf_new_button{
  padding-left: 5px;
  cursor: pointer;
  font-size: 10px;
}
.edit_bookshelf_form{
  box-sizing: border-box;
  /* width: fit-content; */
  position: relative;
}
.edit_bookshelf_form_input_box{
  position: relative;
  /* width: fit-content; */
}

.edit_bookshelf_form_input_box input{
  border: 1px solid black;
}
.edit_bookshelf_form_input_count{
  position: absolute;
  top: 0px;
  right: 0px;
}
.edit_bookshelf_form_footer{}
.edit_bookshelf_cancel_button{
  cursor: pointer;
}
.edit_bookshelf_submit_button{
  cursor: pointer;
}
