/* ---------- MAIN CONTAINER ---------- */
.bookdetails_main_container {
  width: 100%;
  max-width: 1080px;
  display: flex;
  flex-direction: row;
  /* border: 5px solid green; */
  margin: auto;
  /* z-index: -1; */
}

/* ---------- LEFT CONTAINER ---------- */
.bookdetails_left_column_sticky_container {
  position: sticky;
  left: 0%;
  width: 280px;
  display: flex;
  flex-direction: column;

  /* border: 5px solid red; */
}

.bookdetails_left_column_box {
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 80px;
}
#quick_box {

  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}
.bookdetails_edit_button button{
  border: 1px solid gray;
  border-radius: 15%;
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  line-height: 30px;
  font-size: larger;
  cursor: pointer;
  margin: auto;
  border: 1px solid black;
  background-color: black;
  color: white;
  /* border-radius: 10px; */
  /* margin: 2px; */
}

.bookdetails_edit_button button:hover{
  color: lightblue;
  background-color: rgba(0, 0, 0, 0.778);
}

.bookdetails_delete_button button {
  border: 1px solid gray;
  border-radius: 15%;
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  line-height: 30px;
  font-size: larger;
  cursor: pointer;
  margin: auto;
  border: 1px solid black;
  background-color: black;
  color: white;
  /* border-radius: 10px; */
  /* margin: 2px; */
}

.bookdetails_delete_button button:hover{
  color: lightblue;
  background-color: rgba(0, 0, 0, 0.778);
}



#bookdetails_left_column_book_cover {
  margin: auto;

}
#bookdetails_left_column_book_cover img{
  width: 190px;
}

#bookdetails_left_column_book_status {
}

/* ---------- RIGHT CONTAINER --------- */
.bookdetails_right_column_container {
  width: 800px;
  position: relative;
  margin: auto;
  margin-left: 20px;
}

#bookdetails_right_column_main_content {

}

/* ---------- BOOK CONTENT  --------- */
#bookdetails_right_column_book_title {}

#bookdetails_right_column_book_details {

  /* text-transform: capitalize; */

}

#bookdetails_right_column_book_creator_list {}

#bookdetails_right_column_book_review_rating {}

#bookdetails_right_column_book_summary {}

#bookdetails_right_column_book_genre {
  text-transform: capitalize;
}


/* ---------- CREATOR CONTENT  --------- */
#bookdetails_right_column_creator_section {
  display: flex;
  flex-direction: column;
}
#bookdetails_right_column_creator_section>div{
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  margin-bottom: 10px;
}
#bookdetails_right_column_creator_role {
  text-transform: capitalize;

}

#bookdetails_right_column_creator_role > h3{
  margin: 5px;

}
#bookdetails_right_column_creator_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
  margin-top: 40px;
}
#bookdetails_right_column_creator_picture {
  width: 80px;
  height: 80px;
}

#bookdetails_right_column_creator_picture img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
#bookdetails_right_column_creator_name {
  text-transform: capitalize;
}
#bookdetails_right_column_creator_name > h3 {
  margin: 0;
}
#bookdetails_right_column_creator_summary {

}


/* ---------- RANDOM CONTENT  --------- */
#bookdetails_right_column_reccomendations{}
#bookdetails_right_column_reviews{}
