#create_book_new_button{}
.create_book_form{}
.create_book_form_input_box{}
.create_book_form_input_count{}
.create_book_form_footer{}
.create_book_cancel_button{}
.create_book_submit_button{}


.create_book_form_input_box textarea {
  height: auto;
  max-height: 150px;
  column-count: initial !important;
  background: white;
  display: flex;
  line-height: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  white-space: pre-line;
  width: 100%;
  word-break: break-word;
  color: black;
  border: none;
  text-align: left;

  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
  resize: none;
  position: sticky;
  /* outline:1px; */
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;

}
